{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Extract Digit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="card">
      <h3>Extracción de Dígitos</h3>
      <p>Autor: Sebastian Carlosama</p>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ formulario.as_p }}
          <input type="submit" value="Extraer" />
      </form>
      {% if digit is not null %}
          <p>El número ingresado es: {{ digit }}</p>
      {% endif %}
  </div>
</body>

</html>
