{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Extract Digit</title>
    <!-- Incluye Bootstrap CSS -->
    {# Load the tag library #} 
    {% load django_bootstrap5 %} 
     {% bootstrap_css %} 
     {% bootstrap_javascript %}
     {% bootstrap_messages %}
  </head>

  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          <h3>Extract digits</h3>
        </div>
        <div class="card-body">
          {% comment %} <p class="card-text">Autor: Sebastian Carlosama</p> {% endcomment %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form formulario %}
            <div class="text-center">
              <input type="submit" class="btn btn-primary" value="Predict" />
            </div>
          </form>
        </div>
        {% if digit %}
        <div class="card-footer">
          <p>The number entered is: {{ digit }}</p>
          {% if image_src %}
          <div class="card-footer">
            <p>Image uploaded for prediction:</p>
            <img src="{{ image_src }}" alt="Imagen load" class="img-fluid" />
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Incluye Bootstrap JS y Popper.js -->
    {% bootstrap_javascript %}
  </body>
</html>
